.aoi:hover {
    cursor: pointer;
  }

.info-box {
    width: 35%;
    margin-right: 5%;
    margin-left: auto;

    margin-left: 5%;
}

#map {
  display: block;
  text-align: center;
  width: 100%;
  max-width: 1700px;
  min-width: 700px;
}

area:hover {
  cursor:pointer;
}