.aoi:hover {
    cursor: pointer;
  }


.popup {
  display: none; /* Hidden by default */
  position: absolute;
  z-index: 100;
  left: 0;
  top: 0;
  width: 1%;
  height: 1%;
  /* background-color: rgba(0, 0, 0, 0.5); */
  padding-top: 100px;
  /*overflow: scroll;*/
}

.popup-content {
  position: absolute;
  margin: 100px;
  padding: 0px;
  /*border-radius: 0px;*/
  width: 400px;
  height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
}

.close-btn {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin: 20px;
}

.close-btn:hover,
.close-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


#map {
  display: block;
  text-align: center;
  width: 100%;
  max-width: 1700px;
  min-width: 700px;
}

area:hover {
  cursor:pointer;
}
