.aoi:hover {
    cursor: pointer;
  }

.info-box {
    width: 100%;
    margin-right: 5%;
    margin-left: auto;

    margin-left: 5%;
}

<<<<<<< HEAD

.popup {
  display: none; /* Hidden by default */
  position: absolute;
  z-index: 100;
  left: 0;
  top: 0;
  width: 75%;
  height: 75%;
  /* background-color: rgba(0, 0, 0, 0.5); */
  padding-top: 100px;
  overflow: scroll;
}

.popup-content {
  position: absolute;
  margin: 100px;
  padding: 0px;
  border-radius: 0px;
  width: 1000px;
  height: 400px;
  /* overflow: scroll; */
}

.close-btn {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


=======
#map {
  display: block;
  text-align: center;
  width: 100%;
  max-width: 1700px;
  min-width: 700px;
}

area:hover {
  cursor:pointer;
}
>>>>>>> 65bce492f2e5aa9757549b5a670b8c74dfe7f694
